.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: center;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flex-item {
    background-color: pink;
    text-align: center;
    width: 100px;
    height: 80px;
	padding: 10px;
}
